<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{name}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-fab top right edge>
    <button ion-fab color="secondary"><ion-icon name="add"></ion-icon></button>
  </ion-fab>

  <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>

</ion-content>
