<!--
  Generated template for the Home page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Inventory App</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <!-- <ion-fab right bottom> -->
    <button ion-button block color="danger" (click)="addInventory()"><ion-icon name="add"></ion-icon> Add New Inventory</button>
  <!-- </ion-fab> -->

<ion-list>
  <ion-item *ngFor="let item of items" (click)="itemTapped($event, item)">
    <ion-label>
      <a>{{item.name}}</a>
      <a style="float:right;">{{toDayDate}}</a>
    </ion-label>
  </ion-item>
</ion-list>

</ion-content>
