<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{name}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-fab top right edge>
    <button ion-fab color="secondary" (click)="redirectProductPage()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>

  <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>


  <ion-list>
    <ion-item-sliding>

    <ion-item *ngFor="let item of items">
      <ion-label>
        <a>{{item.id}}</a>
        <a style="margin-left: 20px;">{{item.name}}</a>
      </ion-label>
    </ion-item>

    <ion-item-options>
      <button ion-button color="secondary" (click)="itemEdit(item)"><ion-icon name="md-options"></ion-icon> Edit </button>
      <button ion-button color="danger" (click)="itemDelete(item)"><ion-icon name="trash"></ion-icon> Delete </button>
    </ion-item-options>
  </ion-item-sliding>
  </ion-list>

</ion-content>
